body {
    font-family: 'Montserrat';
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    font-weight: bold;
}

p {
    color: #939393;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: white;
}

.white-section {
    background-color: #ffffff;
}

/* Headings */

.big-heading {  
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Title Section */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

/* Title image */

.title-div {
    position: relative;
}

.title-image {
    width: 50%;
    transform: rotate(22.5deg);
    position: absolute;
    right: 30%;
}

@media (max-width: 991px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}

/* Navbar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat';
    font-size: 1.25rem;
    font-weight: 400;
    color: #ffffff;
}

/* Download buttons */

.download-button {
    margin: 5% 3% 5% 0%;
}


/* features section */

#features {
    position: relative;
}

.feature-name {
    font-size: 1.5rem;
}

.feature-box {
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* testimonial */

#testimonials {
    background-color: #ef8172;
}

.testimonial-image {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

.testimonial-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.carousel-item {
    transition: transform 1.2s ease;    
}

/* press */

#press {    
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

.price-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* footer */

.social-icon {
    margin: 2% 1%;
}